[Unit]Description=Monitor Citizen
After=syslog.target
[Service]Type=simple
User=diego
WorkingDirectory=/home/diego
ExecStart=python3 /home/diego/monitor/manage.py runserver 0.0.0.0:80
StandardOutput=syslog
StandardError=syslog
[Install]WantedBy=multi-user.target