{% extends "citizen/layout.html" %}
{% load static %}

{% block title %}Dashboard | Citizen Monitor{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
{% endblock %}

{% block bodyclass %}id="page-top"{% endblock %}

{% block body %}
<!-- Topbar -->
<nav class="sticky-top navbar navbar-expand navbar-light bg-white topbar static-top shadow">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center bg-white" href="{% url 'index' %}">
    <img src="{% static 'citizen/img/logo.png' %}" width="150" alt="Citizen Monitor">
  </a>

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
    <div class="topbar-divider d-none d-sm-block"></div>
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-lg-inline text-gray-600">{{user.first_name}} <span
            class="d-none d-sm-inline">{{user.last_name}}</span></span>
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>
    {% else %}
    <li class="d-none d-sm-inline nav-item">
      <a class="nav-link" href="{% url 'login' %}"><span class="text-gray-600">Login</span></a>
    </li>
    <div class=" form-inline my-2 my-lg-0">
      <a href="{% url 'signup' %}" class="d-none d-sm-inline btn btn-primary shadow-sm my-2 my-sm-0">Sign Up</a>
    </div>
    {% endif %}

  </ul>

</nav>
<!-- End of Topbar -->
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'dashboard' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Nav Item - Survey -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'survey' %}">
        <i class="fas fa-fw fa-clipboard-list"></i>
        <span>Survey</span></a>
    </li>
    {% if user.is_authenticated %}
    {% else %}
    <!-- Divider -->
    <hr class="d-block d-sm-none sidebar-divider">

    <!-- Heading -->
    <div class="d-block d-sm-none sidebar-heading">
      Site
    </div>

    <!-- Nav Item -Login -->
    <li class="nav-item d-block d-sm-none">
      <a class="nav-link" href="{% url 'login' %}" aria-expanded="true">
        <i class="fas fa-fw fa-sign-in-alt"></i>
        <span>Login</span>
      </a>
    </li>
    <!-- Nav Item - Signup -->
    <li class="nav-item d-block d-sm-none">
      <a class="nav-link" href="{% url 'signup' %}" aria-expanded="true">
        <i class="fas fa-fw fa-user-plus"></i>
        <span>Sign Up</span>
      </a>
    </li>
    {% endif %}


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">



      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h2 class="h6 mb-0 text-gray-800">Week Summary</h1>
        </div>
        <div class="row">
          <!-- Best Area Card -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Best Area</div>
                    <div id="best_area" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-award fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Worst Area Card -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Worst Area</div>
                    <div id="worst_area" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-frown fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Improved Area Card -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Improved Area</div>
                    <div id="improved_area" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-level-up-alt fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Tanker Card -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tanker</div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div id="tanker" class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-hand-holding-water fa-2x text-gray-300"></i>
                  </div>

                </div>
                <div><small>of respondents received a tanker this week</small></div>
              </div>
            </div>
          </div>
        </div>

        <!-- Content Row -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h2 class="h6 mb-0 text-gray-800">Data</h1>
        </div>
        <div class="row">

          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#collapseArea" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseArea">
                <h6 class="m-0 font-weight-bold text-primary">Supply Time By Area</h6>
              </a>
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="collapseArea">
                <div class="form-inline justify-content-center m-2">
                  <label for="areas">Area: </label>
                  <select class="form-control mx-2" name="areas" id="areas">
                  </select>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- Comments -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#collapseComment" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseComment">
                <h6 class="m-0 font-weight-bold text-primary">Survey Comments</h6>
              </a>
              <!-- Card Body -->
              <div class="collapse show" id="collapseComment">
                <div class="card-body">
                  <div class="pt-4 pb-2" style="overflow-y: scroll; height: 350px;">
                    {% if page_obj %}
                    <div id="all-posts">
                      {% for survey in page_obj %}
                      <div class="card mt-2">
                        <div class="card-body">
                          <div><span class="float-right text-muted"><small>{{survey.date}}</small></span></div>
                          <h6 class="card-title"><a href="">{{survey.first_name}} {{survey.last_name}}</a>
                          </h6>
                          <div id="content-{{ survey.id }}" class="p-2">{{survey.comment}}</div>

                          <div>
                            {% if user.is_authenticated %}
                            <a class="like" href="#"><i id="liked-{{ survey.id }}"
                                class="fa fa-thumbs-up {% if survey.likes.liked %}text-primary{% else %}text-dark{% endif %}"></i></a>
                            {% else %}
                            <span><i id="liked-{{ survey.id }}" class="fa fa-thumbs-up text-dark"></i></span>
                            {% endif %}
                            <span id="count-{{ survey.id }}">{{ survey.likes.count }}</span>
                            <div class="float-right row">
                              <small class="mx-1">{{survey.area}}</small>
                              <i class="mx-1 fa fa-faucet c-{{survey.supply}}"></i>
                              <i class="mx-1 fa fa-hand-holding-water t-{{survey.tanker}}"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}

                      {% if page_obj.has_other_pages %}
                      <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                          {% if page_obj.has_previous %}
                          <li class="page-item"><a class="page-link"
                              href="?page={{ page_obj.prevoius_page_number }}">Previous</a>
                          </li>
                          {% else %}
                          <li class="page-item disabled"><span class="page-link">Previous</span></li>
                          {% endif %}
                          {% for i in page_obj.paginator.page_range %}
                          {% if page_obj.number == i %}
                          <li class="page-item active"><span class="page-link">{{ i }} <span
                                class="sr-only">(current)</span></span>
                          </li>
                          {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                          {% endfor %}
                          {% if page_obj.has_next %}
                          <li class="page-item"><a class="page-link"
                              href="?page={{ page_obj.next_page_number }}">Next</a>
                          </li>
                          {% else %}
                          <li class="page-item disabled"><span class="page-link">Next</span></li>
                          {% endif %}
                        </ul>
                      </nav>
                      {% endif %}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Content Row -->
        <div class="row">

          <!-- Map -->
          <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <a href="#collapseMap" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseMap">
                <h6 class="m-0 font-weight-bold text-primary">Map</h6>
              </a>
              <div class="collapse show" id="collapseMap">
                <div class="form-inline justify-content-center m-2 px-4 ">
                  <select class="form-control" name="map_range" id="map_range">
                    <option value="this_week" selected>This Week</option>
                    <option value="last_week">Last Week</option>
                    <option value="historic">All the time</option>
                  </select>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area" style="height: 350px;">
                    <div id="mapid" style="height: 350px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Top Ten -->
          <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <!-- Card Header - Dropdown -->
              <a href="#collapseTopTen" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseTopTen">
                <h6 class="m-0 font-weight-bold text-primary">Top Ten</h6>
              </a>
              <!-- Card Body -->
              <div class="collapse show" id="collapseTopTen">
                <div class="form-inline justify-content-center m-2 px-4 ">
                  <div id="options" class="btn-group btn-group-toggle m-2" data-toggle="buttons">
                    <label class="btn btn-outline-success active">
                      <input type="radio" name="options" id="best" autocomplete="off" checked> Best
                    </label>
                    <label class="btn btn-outline-danger">
                      <input type="radio" name="options" id="worst" autocomplete="off"> Worst
                    </label>
                  </div>
                  <select class="form-control" name="topten" id="topten_range">
                    <option value="1" selected>This Week</option>
                    <option value="2">Last Week</option>
                    <option value="3">All the time</option>
                  </select>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="min-height: 20rem;">
                    <canvas id="myBarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Citizen Monitor 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
</div>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </div>
</div>

{% if survey_limit %}
<!-- Survey limit Modal-->
<div class="modal fade" id="surveyLimitModal" tabindex="-1" role="dialog" aria-labelledby="surveyLimitModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Survey limit reached</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Looks like you already filled out this week's survey, please try again next week </div>
    </div>
  </div>
</div>
{% endif %}



<!-- Page level plugins -->
<script src="{% static 'citizen/vendor/chart.js/Chart.min.js' %}"></script>
<script src="//d3js.org/d3.v4.min.js"></script>
<script>
  var geojson_url = "{% static 'citizen/json/hatillo.json' %}";
</script>

<!-- Page level custom scripts -->
<script src="{% static 'citizen/js/charts.js' %}"></script>
<script src="{% static 'citizen/js/map.js' %}"></script>
<script src="{% static 'citizen/js/dashboard.js' %}"></script>
{% endblock %}