{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'citizen/img/favicon.png' %}">

    <!-- Custom fonts for this template-->
    <link href="{% static 'citizen/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'citizen/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'citizen/css/styles.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>

<body {% block bodyclass %} {% endblock %}>
    {% block nav %}
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'citizen/img/logo.png' %}" width="150" alt="Citizen Monitor">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav align-items-center mr-auto">
                    <li class="nav-item">
                        <span class="invisible"><i></i></span>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="navbar-nav float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.first_name}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="settingsDropdown">
                            <a class="dropdown-item" href="#">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>

                </ul>
                {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>

    </nav> -->
    {% endblock %}

    {% block body %}
    {% endblock %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'citizen/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'citizen/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'citizen/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'citizen/js/sb-admin-2.min.js' %}"></script>
</body>

</html>